#device_list .row{
    width: 540px;
    height: 30px;
    line-height: 30px;
    border: 1px solid blue;
    cursor: pointer;
    margin-bottom: 20px;
}
#device_list .row:hover{
    background-color: blue;
    color: #fff;
}
#device_list{
    margin: 30px auto;
    width: 560px;
}
.page-header{
    margin-top: 0px;
}
